$color__background-body: rgb(43, 160, 145);
$color__background-screen: #3a2c8f;
$color__background-hr: rgb(185, 212, 65);
$color__background-button: #eee6e6;
$color__background-pre: rgb(240, 232, 232);
$color__background-ins: #b1a648;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: rgb(224, 194, 22);
$color__link-visited: green;
$color__link-hover: midnightblue;
$color__text-main: #2ab670;

$color__border-button: rgb(206, 197, 197) rgb(29, 82, 57) rgb(207, 201, 203);
$color__border-button-hover: rgb(46, 36, 138) rgb(184, 179, 179) rgb(180, 241, 36);
$color__border-button-focus: rgb(218, 195, 195) rgb(134, 177, 233) rgb(130, 136, 40);
$color__border-input: rgb(216, 212, 212);
$color__border-abbr: #666;
